
/* --- GENERAL STYLES --- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

body {
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: #e9ecef;
  background-image: url(images/bg/double-bubble-outline.png);
}

header {
  /* height: 90px; */
  background-color: #33415c;
  background-image: url(images/bg/double-bubble-dark.png);
  margin-bottom: 40px;
  /* display: block; */
}

header h1 {
  color: whitesmoke;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
}

/* --- Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Lato', 'Montserrat', sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

header nav ul li a:visited {
  color: #bdbdbd;
}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin: 14px;
    font-size: 42px;
  }

  header nav {
    margin-top: 35px;
  }
}

/* --- Primary Groups --- */

main .wrapper h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 36px;
  color: #212529;
}

.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

footer {
  background-color: #33415c;
  background-image: url(images/bg/double-bubble-dark.png);
  margin-top: 40px;
  margin-bottom: 0;
  overflow: hidden;
}

/* --- Typography --- */

img {
  width: 100%;
}

img.rounded {
  border-radius: 10px;
}

main h2 {
  font-size: 32px;
  font-family: 'Orbitron', 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

main h3 {
  font-size: 28px;
  font-family: 'Orbitron', 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

main p {
  font-family: 'Lato', 'Montserrat', sans-serif;
  line-height: 1.5em;
  margin-bottom: 0em;
  font-size: 20px;
}

.item ul li {
  font-size: 20px;
}

.item ul li a {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}

footer p {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}

a:visited {
  color: #212529;
}

#about a:visited {
  color: #e9ecef;
}

/* GROUPS & ITEMS (DESKTOP) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* HOME/PORTFOLIO/CONTACT ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* ABOUT ARTICLE SECTION */

#about {
  background-color: #212529;
  color: whitesmoke;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/* --- Contact Form Design --- */
/* form {
  padding-right: 8px;
} */

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}